body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, h3, h4 {
    text-align: center;
}
ul {
    list-style: none;
    text-align: center;
}

.title{
    background-color: rgb(186, 0, 0);
    color:white;
    padding: 10px 0;
    text-align: center;
}

.title-image {
    filter: brightness(0) invert(1);
    
}

#top {
    text-align: center;
}